In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
# 1. Write a Pandas program to create and display a one-dimensional array like object containing an array of data
arr=[1,2,3,4,6]
a=pd.Series(arr)
print(a)

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [ ]:
#2.Write a Pandas program to add, subtract, multiply and divide two Pandas Series

ds1 = pd.Series([9, 7, 6, 8, 10])

ds2 = pd.Series([1, 2, 5, 7, 3])

dssum = ds1 + ds2

dsdiff=ds1-ds2

dsprod=ds1*ds2

dsdivi=ds1/ds2

print(dssum)

print(dsdiff)

print(dsprod)

print(dsdivi)

0    10
1     9
2    11
3    15
4    13
dtype: int64
0    8
1    5
2    1
3    1
4    7
dtype: int64
0     9
1    14
2    30
3    56
4    30
dtype: int64
0    9.000000
1    3.500000
2    1.200000
3    1.142857
4    3.333333
dtype: float64

In [ ]:
# 3..Write a Pandas program to create and display a DataFrame ‘Examdata’ from a specified dictionary data(5 records) which has the fields 1)name 2)Score 3)Attempts 4)Qualify

import numpy as np
examdata = {'name': ['A', 'B', 'C'],
'score': [17.5, 10, np.nan],
'attempts': [1, 3, 2],
'qualify': ['yes', 'no', 'no']}
df = pd.DataFrame(examdata)
print(" Original DataFrame 'Examdata' == ")
print(df)
print()

# b)save it as a csv file and retrieve it.
filename = 'df.csv'
df.to_csv(filename, index=False)
print(f"Data frame saved to the '{filename}'")
retrieved_data=pd.read_csv(filename)
print()
print(f"Data retrieved from the '{filename}'")
print(retrieved_data)
print()

# c)Select 'name' and 'Qualify' columns in rows 1, 2, 3
dff = retrieved_data.copy()
select_columns = dff.loc[[0, 1, 2], ['name', 'qualify']]
print(select_columns)
print()

# d)select the rows where the number of attempts in the examination is greater than 1
print(" Select rows where attempts > 1 ")
attempts_g1 = dff[dff['attempts'] > 1]
print(attempts_g1)
print()
;/
# e)count the number of rows and columns of the DataFrame
print("Count rows and columns ")
rowno, colsno = df.shape
print(f"Number of rows: {rowno}")
print(f"Number of columns: {colsno}")
print()

# f)select rows where Number of attempts in the examination is less than 3 and score greater than 5
print("Select rows where attempts < 3 AND score > 5 ")
filter_row = df[(df['attempts'] < 3) & (df['score'] > 5)]
print(filter_row)
print()

# g)select rows where score are missing
print("select rows where score are missing")
missing_score = dff[dff['score'].isnull()]
print(missing_score)
print("")


# h)change the score in row 2 to 12
print("change the score in row 2 to 12")
dff.loc[1, 'score'] = 12
print(dff)
print("")


# i)delete the last row ,append a new row and return the original data frame
print("Delete last row, append new row ")
# Delete the last row index 4
after_deletion = dff.drop(dff.index[-1])
print("DataFrame after deleting the last row:")
print(after_deletion)
print("")
# Append new row
new_row = {'name': 'G', 'score': 20, 'attempts': 1, 'qualify': 'yes'}
after_append = pd.concat([after_deletion, pd.DataFrame([new_row])])
print("\nDataFrame after appending a new row:")
print(after_append)

dff = after_append.copy()
print("")

# j)replace the 'qualify' column contain the values 'yes' and 'no' with True and False.
print("Replace 'qualify' values with True/False ")
dff['qualify'] = dff['qualify'].map({'yes': True, 'no': False})
print(dff)
print("")


# k)insert a new column ‘Rank’ and populate it.
print("insert a new column ‘Rank’ and populate it.")
# dff['Rank'] = range(0, len(dff))
dff['Rank'] = [2 , 3 ,1]
print(dff)
print("")

 Original DataFrame 'Examdata' ==
  name  score  attempts qualify
0    A   17.5         1     yes
1    B   10.0         3      no
2    C    NaN         2      no

Data frame saved to the 'df.csv'

Data retrieved from the 'df.csv'
  name  score  attempts qualify
0    A   17.5         1     yes
1    B   10.0         3      no
2    C    NaN         2      no

  name qualify
0    A     yes
1    B      no
2    C      no

 Select rows where attempts > 1
  name  score  attempts qualify
1    B   10.0         3      no
2    C    NaN         2      no

Count rows and columns
Number of rows: 3
Number of columns: 4

Select rows where attempts < 3 AND score > 5
  name  score  attempts qualify
0    A   17.5         1     yes

select rows where score are missing
  name  score  attempts qualify
2    C    NaN         2      no

change the score in row 2 to 12
  name  score  attempts qualify
0    A   17.5         1     yes
1    B   12.0         3      no
2    C    NaN         2      no

Delete last row, append new row
DataFrame after deleting the last row:
  name  score  attempts qualify
0    A   17.5         1     yes
1    B   12.0         3      no


DataFrame after appending a new row:
  name  score  attempts qualify
0    A   17.5         1     yes
1    B   12.0         3      no
0    G   20.0         1     yes

Replace 'qualify' values with True/False
  name  score  attempts  qualify
0    A   17.5         1     True
1    B   12.0         3    False
0    G   20.0         1     True

insert a new column ‘Rank’ and populate it.
  name  score  attempts  qualify  Rank
0    A   17.5         1     True     2
1    B   12.0         3    False     3
0    G   20.0         1     True     1